public net.minecraft.world.entity.animal.Bee$BeePollinateGoal

public net.minecraft.world.entity.animal.Fox$SeekShelterGoal
public net.minecraft.world.entity.animal.Fox$PerchAndSearchGoal

public net.minecraft.world.level.BlockGetter traverseBlocks(Lnet/minecraft/world/phys/Vec3;Lnet/minecraft/world/phys/Vec3;Ljava/lang/Object;Ljava/util/function/BiFunction;Ljava/util/function/Function;)Ljava/lang/Object; # traverseBlocks
public net.minecraft.world.level.chunk.PalettedContainer$Data

public net.minecraft.world.entity.projectile.ProjectileUtil getHitResult(Lnet/minecraft/world/phys/Vec3;Lnet/minecraft/world/entity/Entity;Ljava/util/function/Predicate;Lnet/minecraft/world/phys/Vec3;Lnet/minecraft/world/level/Level;FLnet/minecraft/world/level/ClipContext$Block;)Lnet/minecraft/world/phys/HitResult; # getHitResult

# Season Color
public net.minecraft.world.level.FoliageColor pixels # pixels
public net.minecraft.world.level.GrassColor pixels # pixels

public net.minecraft.client.gui.font.FontManager$FontDefinitionFile
public-f net.minecraft.data.loot.LootTableProvider getName()Ljava/lang/String; # getName

public net.minecraft.server.level.ServerChunkCache getVisibleChunkIfPresent(J)Lnet/minecraft/server/level/ChunkHolder; # getVisibleChunkIfPresent

public net.minecraft.client.renderer.LevelRenderer$RenderChunkStorage
public net.minecraft.client.renderer.LevelRenderer visibleSections # visibleSections
public net.minecraft.client.renderer.LevelRenderer viewArea # viewArea
public net.minecraft.client.renderer.LevelRenderer level # level
public net.minecraft.client.renderer.LevelRenderer$RenderChunkInfo
public net.minecraft.client.renderer.ViewArea getSectionIndex(III)I # getSectionIndex
public net.minecraft.client.renderer.chunk.RenderChunk
public net.minecraft.client.renderer.chunk.RenderChunk wrapped # wrapped

public-f net.minecraft.client.renderer.BiomeColors FOLIAGE_COLOR_RESOLVER # FOLIAGE_COLOR_RESOLVER
public-f net.minecraft.client.renderer.BiomeColors GRASS_COLOR_RESOLVER # GRASS_COLOR_RESOLVER

public-f net.minecraft.client.renderer.FogRenderer MOB_EFFECT_FOG # MOB_EFFECT_FOG
public net.minecraft.client.renderer.FogRenderer$BlindnessFogFunction
public net.minecraft.client.renderer.FogRenderer$MobEffectFogFunction
public net.minecraft.client.renderer.FogRenderer$FogData

public net.minecraft.world.level.biome.MultiNoiseBiomeSource parameters()Lnet/minecraft/world/level/biome/Climate$ParameterList; # parameters

public net.minecraft.server.level.ChunkMap getChunks()Ljava/lang/Iterable; # getChunks
# Biome
#public-f net.minecraft.world.level.biome.Biome climateSettings # climateSettings
public-f net.minecraft.world.level.biome.Biome getTemperature(Lnet/minecraft/core/BlockPos;)F # getTemperature

public net.minecraft.server.level.ServerLevel THUNDER_DELAY # THUNDER_DELAY


public net.minecraft.client.renderer.GameRenderer postEffect # postEffect
public net.minecraft.client.renderer.GameRenderer effectActive # effectActive
public net.minecraft.client.renderer.GameRenderer shaders # shaders
public net.minecraft.client.renderer.PostChain passes # passes

public net.minecraft.client.renderer.block.ModelBlockRenderer$AmbientOcclusionFace

public net.minecraft.client.resources.model.MultiPartBakedModel selectors # selectors

public net.minecraft.commands.arguments.ResourceKeyArgument resolveKey(Lcom/mojang/brigadier/context/CommandContext;Ljava/lang/String;Lnet/minecraft/resources/ResourceKey;Lcom/mojang/brigadier/exceptions/DynamicCommandExceptionType;)Lnet/minecraft/core/Holder$Reference; # resolveKey
